//black and white
$cj-black: #000000;
$cj-white: #ffffff;

// navy
$cj-navy-1: #192a4c;
$cj-navy-2: #25304c;
$cj-navy-3: #25327b;
$cj-navy-4: #151e33;

// gray
$cj-gray-1: #a0a7b5;
$cj-gray-light-1: #fdfdfd;
$cj-gray-light-2: #eeeff2;
$cj-gray-light-3: #f4f6f9;
$cj-gray-light-4: #d3d8e1;
$cj-gray-dark-1: #6f7a8f;
$cj-gray-dark-2: #232f34;
$cj-gray-dark-3: #415157;
$cj-gray-dark-4: #666;

// aqua
$cj-aqua-1: #10aab1;
$cj-aqua-2: #25b4bb;
$cj-aqua-3: #a9dadd;
$cj-aqua-4: #0d8c92;
$cj-aqua-5: #0a7075;

// amber
$cj-amber-1: #ff980e;
$cj-amber-2: #fef3dd;

// red
$cj-red-1: #cd1a1a;
$cj-red-2: #ff3545;
$cj-red-3: #ffebeb;

// green
$cj-green-1: #52c41a;
$cj-green-2: #ebfde2;
$cj-green-3: #e2f1ff;

// blue
$cj-blue-1: #0049ff;
$cj-blue-2: #2f74fe;
$cj-blue-3: #e2f1ff;
